/*
CREATES A MEDIA QUERY FOR DESKTOP STYLE
*/

@media only screen and (min-width: 768px){
    /* Main Containter */
    .wpc.wrap {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    /* Scroller Container */
    .wpc-scroller {
        overflow-x: auto;
    }
    /* "See more" button */
    span.wpc-btn {
        display: inline;
        margin: 5px auto;
        max-width: 12%!important;
        min-width: 90px!important;
    }
    /* Each Product in Loop */
    .wpc-post-content li {
        min-width: 190px!important;
        max-width: 190px!important;
    }
    /* Fills the image in the loop */
    .wpc-post-content li img {
        height: 190px;
        width: 100%;
        object-fit: cover;
     }

    /* Change Scrollbar in tablet/Desktop */
    .wpc-scroller::-webkit-scrollbar{
        background-color: rgb(209, 209, 209);
        height: 8px;
        display: block;
        border-radius: 100vh;
     }
     .wpc-scroller::-webkit-scrollbar-thumb{
        background-color: rgb(150, 150, 150);
        border-radius: 100vh;
        max-height: 3px;
     }
     .wpc-scroller::-webkit-scrollbar-thumb:active{
        background-color: rgb(70, 70, 70);
     }
     .wpc-scroller {
        padding-bottom: 5px;
    }

}
/**
 * OVERALL STYLE
 */

/* SCROLLER BOX */
.wpc-scroller {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


/**
 * CONTENT SPAN SECTION
 * 
 * This Whole section controls the style for the loop
 * inside the scroller section
 *
 * @since 0.6.0
 */
 .wpc-post-content {
    min-width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
 }

 /* Product box */
 .wpc-post-content li {
    min-width: 220px;
    max-width: 18%;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    /* padding: 3px; */
 }

 /* image in the loop */
 .wpc-post-content li img {
    padding: 8px;
 }

 /* Peoduct Title in the loop */
 .wpc-post-content h3 {
    border-top: 1px #bdbdbd solid;
    padding: 5px;
}


/* "SEE/LEARN MORE" SPAN */
span.wpc-btn {
    align-self: center;
    width: 100%;
    min-width: 80px;
    text-align: center;
    margin: 0px 0px 0px auto;
}
/* MAKES THE ARROW GO ABOVE THE LEARN MORE TEXT */
i.fas.fa-arrow-right {
    display: block;
    border-radius: 100%;
    background-color: #FFF;
    padding: 15px;
    -webkit-writing-mode: vertical-lr;
    margin: 0px auto;
}

/*.wpc{
    border-right: 1px red solid;
}*/
.wpc-cat{
    width: 100%;
}