/* Corrects a bug in elementor  LINE 74-82 */
/* 
WOOCOMMERCE CLASS BASED STYLES
WILL BE DEPRECATED
*/

@media (max-width: 544px) {
    .woocommerce[class*="columns-"].columns-3 > ul.products li.product, .woocommerce[class*="columns-"].columns-4 > ul.products li.product, .woocommerce[class*="columns-"].columns-5 > ul.products li.product, .woocommerce[class*="columns-"].columns-6 > ul.products li.product {
        width: 100%;
        min-width: 142px;
        max-height: 220px;
    }
    .woocommerce ul.products, .woocommerce-page ul.products, .woocommerce.mobile-columns-2 ul.products, .woocommerce-page.mobile-columns-2 ul.products li.product {
        grid-template-columns: repeat(2, minmax(0, 1fr))!important;
    }
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0px 4px!important;
}
    .woocommerce ul.products, .woocommerce-page ul.products {
    flex-wrap: nowrap;
    flex-direction: row;
}