.wpc-scroller {
    width: 100%;
    overflow-x: scroll;
    display: block
}
@media only screen and (min-width: 768px){
    .wpc.wrap {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .wpc-scroller {
        width: 90%;
        overflow-x: unset;
        display: inline-block;
    }
    .woocommerce .products ul, .woocommerce ul.products {
        width: 90%!important;
    }
    span.wpc-btn {
        display: inline;
        margin: 5px auto;
    }
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0px 4px!important;
}
    .woocommerce ul.products, .woocommerce-page ul.products {
    flex-wrap: nowrap;
    flex-direction: row;
}
.woocommerce .products ul, .woocommerce ul.products {
    width: 125%;
    min-width: 450px;
}
.woocommerce .button {
    display: none!important;
}
span.wpc-btn {
    padding: 12px;
    background-color: white;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wpc{
    border-width: 1px;
    border-style: solid;
    border-color: red;
}
.wpc-cat{
    width: 100%;
}